/*Font Family*/
/*Site Colors*/
/*Font-sizes*/
p {
  margin: 0; }

body {
  background: #ebeef4;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 15px;
  color: #202734;
  margin-bottom: 25px;
  font-weight: 700; }

h2 {
  font-weight: 600;
  font-size: 24px; }

h3 {
  font-size: 10px;
  color: #abb1c0;
  font-weight: 600;
  text-transform: uppercase; }

.center {
  text-align: center !important; }

:focus {
  outline: none; }

.header-content {
  position: relative;
  margin-bottom: 30px;
  border-bottom: none; }
  .header-content .close {
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block; }

.prev-page {
  color: #fd6816;
  margin-bottom: 20px;
  position: relative;
  display: inline-block; }

.prev-page:hover {
  text-decoration: none; }

.logo-brand {
  display: inline-block;
  padding: 14px 16px;
  color: #fff;
  font-size: 12px;
  background: #273140;
  font-weight: 600;
  letter-spacing: 0.1px; }

.logo-brand:hover {
  color: #fff;
  text-decoration: none; }

header {
  height: 60px;
  width: 100%;
  background: #273140;
  z-index: 999;
  position: fixed; }
  header .header-content {
    position: relative; }
  header .cart-item-count {
    color: #fff;
    font-size: 12px;
    text-align: center; }

header .cart-icon-holder {
  position: absolute;
  top: 20px;
  right: 20px; }

#index-page header {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #ebeef4;
  z-index: 9999; }
#index-page .main {
  margin-top: 70px; }

.sidebar-responsive {
  width: 196px;
  position: fixed;
  left: 0;
  top: 58px;
  overflow: hidden;
  bottom: 0;
  padding: 31px 20px;
  background: #fff; }
  .sidebar-responsive .logo-holder {
    text-align: center;
    position: relative; }
    .sidebar-responsive .logo-holder img {
      margin-bottom: 24px; }
    .sidebar-responsive .logo-holder p {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      letter-spacing: 0.4px;
      color: #333333; }
    .sidebar-responsive .logo-holder:after {
      content: " ";
      position: absolute;
      height: 1px;
      opacity: 0.5;
      width: 100%;
      bottom: -29px;
      left: 0;
      right: 0;
      background-color: #d4d7de; }
  .sidebar-responsive ul {
    font-size: 14px;
    margin: 0;
    padding: 0; }
    .sidebar-responsive ul li {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.38;
      letter-spacing: 0.3px;
      text-transform: uppercase; }
  .sidebar-responsive .cart-icon-holder {
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
    left: 0; }
    .sidebar-responsive .cart-icon-holder .cart-item-count {
      color: #fff;
      font-size: 12px; }

li.orange-txt {
  color: #fd6816;
  margin-bottom: 20px;
  margin-top: 50px; }

li.checkbox-text {
  color: #333333;
  margin-bottom: 18px;
  font-weight: 400 !important;
  text-transform: none !important; }
  li.checkbox-text span {
    color: #abb1c0; }

.nav-sidebar li.orange-txt:last-child {
  margin-top: 50px !important; }

.cart-inner-cnt {
  position: relative;
  display: inline-block; }

.cart-item-count {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 2px 2px;
  background: #f85b37; }

.wrapper {
  width: calc(100% - 186px);
  position: relative;
  padding-top: 60px;
  overflow: hidden; }

.offer-content-holder {
  width: 296px;
  height: 423px;
  padding: 11px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9e0ef; }
  .offer-content-holder img {
    width: 100%; }

.offer-img-holder {
  margin-bottom: 20px;
  height: 179px;
  overflow: hidden; }
  .offer-img-holder img {
    width: 100%;
    height: auto; }

.offer-title {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #333333;
  margin-bottom: 17px;
  margin-top: 3px;
  max-height: 21px;
  overflow: hidden; }

.offer-description {
  font-size: 13px;
  color: #38475d;
  line-height: 18px;
  margin-bottom: 20px;
  min-height: 36px;
  max-height: 36px;
  overflow: hidden; }

.offer-detail {
  clear: both;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebeef4;
  margin-bottom: 14px;
  max-height: 41px; }
  .offer-detail button {
    background: none;
    border: none; }
    .offer-detail button .caret {
      color: #f85b37; }
  .offer-detail div {
    display: inline-block; }
  .offer-detail .dropdown a {
    font-size: 12px;
    color: #fd6816;
    padding: 10px 0; }
  .offer-detail .dropdown-menu {
    padding: 0 15px; }
    .offer-detail .dropdown-menu span {
      font-size: 18px;
      line-height: 1.11;
      letter-spacing: 0.2px;
      color: #333333;
      float: right; }
    .offer-detail .dropdown-menu li a {
      border-bottom: 1px solid #e0e2e7; }

.discount-packages .offer-img-holder {
  position: relative; }
  .discount-packages .offer-img-holder .discount-percent {
    position: absolute;
    color: #fff;
    background: #03ba50;
    padding: 6px 9px 5px 11px;
    top: 12px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #03ba50;
    box-shadow: 0px 1px 9px 1px rgba(54, 70, 92, 0.1);
    line-height: 1.67;
    letter-spacing: 0.1px;
    right: 14px; }

.offer-price {
  color: #fd6816;
  font-size: 18px;
  float: left;
  font-weight: 600; }

span.old-price {
  text-decoration: line-through;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: #333333; }

.offer-count {
  font-size: 10px;
  color: #abb1c0;
  font-weight: 600;
  float: right;
  margin-top: 8px; }

.buy-add-btn {
  clear: both;
  display: inline-block;
  width: 100%; }
  .buy-add-btn button.add-to-cart-btn {
    font-size: 12px;
    background: none;
    border: none;
    font-weight: 600;
    float: left;
    color: #abb1c0;
    padding: 12px 20px 12px 0; }
    .buy-add-btn button.add-to-cart-btn img {
      width: auto;
      margin: 0 8px 0 0; }
    .buy-add-btn button.add-to-cart-btn span {
      position: relative;
      top: 3px; }
  .buy-add-btn button.buy-btn {
    background: #f3f5f8;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: 700;
    color: #333333;
    width: 100%;
    font-size: 12px;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out; }
    .buy-add-btn button.buy-btn:hover {
      background: #f85b37;
      color: #fff; }

.cart-img {
  width: 145px;
  margin-right: 12px;
  float: left;
  height: 145px; }

.cart-img img {
  width: 100%; }

.cart-item-holder {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background: #f9fbfd; }
  .cart-item-holder .cart-item-description .offer-title {
    margin-bottom: 62px !important; }

.bdr {
  border: 1px solid #d9e0ef; }

.offerpage label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: rgba(51, 51, 51, 0.5);
  width: 100% !important; }

.offer-price-detail {
  display: inline-block;
  width: 80px;
  float: left; }
  .offer-price-detail .offer-price,
  .offer-price-detail .offer-count {
    float: none;
    display: inline-block; }

.quantity-controls {
  margin-left: 40px;
  display: inline-block;
  width: 117px; }
  .quantity-controls a {
    width: 20px;
    padding: 0 10px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #abb1c0;
    background: #ebeef4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .quantity-controls a:hover {
      text-decoration: none;
      color: #38475d; }
    .quantity-controls a:focus {
      text-decoration: none;
      color: #38475d; }
  .quantity-controls .total-quantity {
    padding: 0 18px;
    font-weight: 700; }

.delete {
  margin-top: 10px;
  float: right; }

.orange-btn {
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 17px 0;
  background: #f85b37;
  border: none;
  border-radius: 3px;
  transition: all 0.1s ease-in-out; }
  .orange-btn:hover {
    background: #e1350e; }

.cart-total-amount {
  margin: 20px 0 30px; }
  .cart-total-amount p span {
    font-weight: 700;
    float: right; }

.bold-txt-lbl {
  font-size: 12px;
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #333333; }

.total-price {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 0.2px;
  color: #fd6816; }

.order-summary {
  border-bottom: 1px solid #d4d7de; }

.right {
  float: right; }

.modal-body,
.modal-footer {
  display: inline-block;
  width: 100%; }

.nav li a:hover, .nav li a:focus {
  background: none; }

.nav-sidebar li {
  position: relative; }

.success-msg-holder {
  display: inline-flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .success-msg-holder .success-msg-inner {
    max-width: 394px;
    max-height: 397px;
    height: 100%;
    margin: 0;
    width: 100%; }
    .success-msg-holder .success-msg-inner h2 {
      color: #fd6816; }
    .success-msg-holder .success-msg-inner p {
      color: #38475d;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 100px; }

input.quantity {
  display: inline-block;
  text-align: center;
  width: 44px;
  background: transparent;
  border: none;
  padding-top: 7px; }

.form-group input {
  background: transparent; }

.success-msg-inner a {
  color: #fd6816; }

button.shopping-btn {
  font-size: 12px;
  color: #273140;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #f3f5f8;
  padding: 15px 86px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px #dbdee4; }

.box-info h3 {
  clear: both;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1a2435; }
  .box-info h3 span {
    color: #1bb970;
    text-transform: none;
    font-weight: 600;
    float: right; }
    .box-info h3 span.lock-icon {
      position: relative;
      margin-right: 37px;
      font-size: 11px;
      font-weight: bold;
      line-height: 1.64;
      letter-spacing: 0.1px;
      color: #03ba50; }
      .box-info h3 span.lock-icon:after {
        content: " ";
        position: absolute;
        width: 12px;
        height: 14px;
        right: -20px;
        top: 0px;
        background: url(../img/locked.png);
        background-size: 100%;
        background-repeat: no-repeat; }

span.lock-icon:before {
  content: " ";
  position: absolute;
  left: -10px;
  right: -31px;
  background: #e5f3eb;
  bottom: -3px;
  top: -5px;
  border-radius: 3px;
  z-index: -1; }

.white-box {
  border: 1px solid #d9e0ef;
  background: #f3f5f8;
  padding: 14px 11px; }
  .white-box .form-group:last-child {
    margin-bottom: 0; }

.mrg-top20 {
  margin-top: 25px; }

.form-group label {
  color: #202734;
  font-size: 11px;
  font-weight: 700;
  padding-left: 12px; }
.form-group input {
  min-height: 34px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d9e0ef;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 14px; }
.form-group .form-control:focus {
  border-color: none;
  box-shadow: none; }

.order-summary {
  padding: 0;
  margin: 0;
  padding: 15px 11px;
  list-style: none;
  vertical-align: middle;
  width: calc(100% + 22px);
  margin-left: -11px; }
  .order-summary li {
    display: inline-block;
    vertical-align: middle; }
    .order-summary li img {
      width: 33px;
      margin-right: 10px; }

.order-summary span.cart-total-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.1px;
  color: rgba(51, 51, 51, 0.5); }

a.cancel-policy {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.64;
  letter-spacing: 0.1px;
  color: #333333;
  display: inline-block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #f3f5f8;
  margin-bottom: 20px;
  text-align: center;
  position: relative; }

a.cancel-policy i {
  font-size: 12px;
  color: #333;
  position: absolute;
  bottom: -2px;
  left: 50%;
  top: 24px;
  opacity: 0.6; }

a.cancel-policy i.animate {
  -webkit-animation: bounce 0.3s infinite;
  -moz-animation: bounce 0.3s infinite;
  -o-animation: bounce 0.3s infinite;
  animation: bounce 0.3s infinite; }

@-webkit-keyframes bounce {
  0% {
    top: 24px; }
  50% {
    top: 26px; }
  100% {
    top: 24px; } }
@-moz-keyframes bounce {
  0% {
    top: 24px; }
  50% {
    top: 26px; }
  100% {
    top: 24px; } }
@-o-keyframes bounce {
  0% {
    top: 24px; }
  50% {
    top: 26px; }
  100% {
    top: 24px; } }
@keyframes bounce {
  0% {
    top: 24px; }
  50% {
    top: 26px; }
  100% {
    top: 24px; } }
.cancel-policylist {
  padding: 0 15px 20px;
  display: none; }

a.cancel-policy:hover,
a.cancel-policy:focus {
  text-decoration: none !important; }

.order-summary span.total-price {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: #333333;
  width: 80px;
  display: inline-block;
  min-width: 58px;
  text-align: right; }

.no-bdr {
  border: none !important; }

.order-title {
  font-size: 13px;
  font-weight: 700;
  color: #202734; }

.order-quantity {
  color: #abb1c0;
  font-size: 10px;
  margin-top: 2px; }

.order-price {
  color: #1bb970;
  font-weight: 600;
  font-size: 14px; }

.total-order-sum {
  font-size: 13px;
  padding: 13px 0 0;
  color: #202734;
  font-weight: 700;
  line-height: 20px; }
  .total-order-sum span {
    float: right;
    padding-right: 0; }

.white-bg {
  background: #fff; }
  .white-bg .offer-content-holder {
    border: none; }
  .white-bg .header-content {
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #d4d7de; }
    .white-bg .header-content h1 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: 0.2px;
      color: #333333;
      display: inline-block; }
      .white-bg .header-content h1 span.cart-total-item {
        opacity: 0.5;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.2px;
        color: rgba(26, 36, 53, 0.5); }

.prev-page .fa-angle-left {
  font-size: 20px; }

.thumb-description {
  padding: 0 8px; }

.order-summary li:nth-child(3) {
  float: right;
  text-align: right; }

.price-dropdown .dropdown-menu {
  display: none; }

.price-dropdown.open > .dropdown-menu {
  display: block !important; }

.offer-detail .dropdown a {
  display: inline-block;
  border-bottom: 1px solid #e0e2e7;
  width: 150px; }

.dropdown-menu .right {
  width: 110px; }
  .dropdown-menu .right span {
    display: inline-block;
    margin-bottom: 10px; }
    .dropdown-menu .right span s {
      font-size: 12px; }

.modal-dialog {
  width: 919px; }

.add-img-holder {
  overflow: hidden; }

.add-img-holder img {
  width: 100%; }

.modal-dialog p {
  font-size: 13px;
  line-height: 18px; }

.modal-dialog .offer-price {
  float: none;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #D4D7DE;
  margin-bottom: 26px; }

.modal-dialog p.pack-desc {
  margin-bottom: 29px; }

.offer-price p {
  color: #fd6816;
  font-size: 22px;
  font-weight: 600;
  display: block; }

.offer-price p.save-text {
  color: #333333;
  margin-top: 8px;
  font-size: 13px; }

span.save-percent {
  color: #fd6816 !important;
  font-size: 13px; }

input#quantity {
  border: none; }

.package-title {
  font-size: 24px !important;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 0.83;
  letter-spacing: 0.2px;
  color: #333333;
  margin-top: 8px; }

.green-circle,
.green-box {
  font-size: 14px;
  color: #fff;
  z-index: 1;
  margin-right: 10px;
  display: inline-block;
  width: 50px;
  text-align: center;
  position: relative; }

.green-circle {
  height: 32px; }

.green-circle::before {
  content: " ";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background: #03ba50;
  top: -7px;
  height: 31px;
  left: 8px;
  width: 32px; }

.green-box::before {
  content: " ";
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
  background: #03ba50;
  top: -4px;
  height: 28px;
  left: 0; }

.white-bg {
  background: #fff; }

.pad-60 {
  padding-top: 60px; }

.sold-by {
  text-align: left;
  font-size: 10px;
  margin-top: 11px; }

.sold-by label {
  color: rgba(51, 51, 51, 0.5);
  display: block; }

.modal-content {
  height: 437px;
  border-radius: 5px;
  overflow: hidden; }

.modal-footer {
  background-color: #f3f5f8;
  padding: 0 0 0 18px; }

button.close span {
  color: #fd6816;
  font-size: 22px; }

.modal-footer a {
  background: #fd6816;
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  display: block;
  font-size: 20px;
  border-bottom-right-radius: 5px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-in-out; }

.modal-footer a:hover {
  text-decoration: none;
  background: #ec5908; }

.sold-by p {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 13px;
  color: #333; }

.offerpage .container,
.package-page .container {
  width: 1170px; }

.offerpage header .cart-icon-holder,
.checkout-page header .cart-icon-holder {
  position: absolute;
  top: 0;
  right: 0;
  background: #f3f5f8;
  height: 102%;
  text-align: center;
  width: 83px;
  padding: 20px 0; }

.package-page header .user-icon-holder {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(153, 191, 255, 0.1);
  height: 102%;
  text-align: center;
  width: 83px;
  padding: 20px 0; }

.add-pkg {
  float: right;
  background: #fd6816;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 15px;
  letter-spacing: 0.1px;
  color: #ffffff; }

.add-pkg:hover,
.add-pkg:focus {
  color: #fff; }

.package-table td,
.package-table th {
  padding: 18px;
  min-width: 105px; }

.package-desc {
  width: 79%; }

table.package-table tr {
  background: #f9fbfd;
  border: 1px solid rgba(212, 215, 222, 0.5); }

table.package-table tr:first-child {
  background: #fff;
  border: none; }

table.package-table td,
table.package-table td p {
  font-size: 13px;
  line-height: 1.54;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333; }

.package-desc p {
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: rgba(51, 51, 51, 0.5); }

.price-dropdown .left {
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #fd5716; }

.price-dropdown .right {
  display: inline-block;
  float: right;
  text-align: right; }

.custom-checkbox > [type="checkbox"],
.custom-checkbox > label {
  margin-bottom: 0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0; }

.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 22px;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.3px;
  color: #333333;
  font-weight: 400;
  cursor: pointer; }

.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background: #ffffff;
  border-radius: 2px; }

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
  font: normal normal normal 12px/1 'Glyphicons Halflings';
  content: '\e013';
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 2px;
  color: #273140;
  transition: all .2s; }

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.custom-checkbox > [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
  content: '\2212';
  left: 2px;
  opacity: 1;
  transform: scale(1); }

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  background-color: #eeeeee;
  border-color: #eeeeee;
  cursor: not-allowed;
  opacity: 1;
  color: #dadada; }

.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
  color: #dadada;
  cursor: not-allowed; }

.custom-checkbox > [type="checkbox"]:disabled + label {
  color: #aaa;
  cursor: not-allowed; }

.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.custom-checkbox > label:hover:before {
  border: 1px solid #88D2FF !important; }

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before {
  border: 1px solid #E4E4E4 !important; }

.loading-screen {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  justify-content: center;
  bottom: 0;
  right: 0;
  text-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.loading-screen.show {
  display: inline-flex !important; }

.loading-content {
  display: inline-block;
  width: 290px;
  height: 66px;
  position: relative;
  z-index: 9999;
  background: #fff;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.64;
  letter-spacing: 0.1px;
  padding-top: 12px;
  color: #273140; }

svg path,
svg rect {
  fill: #FF6700; }

.loader.loader--style3,
.loading-content p {
  display: inline-block; }

.loader.loader--style3 {
  margin-right: 12px; }

.loading-content p {
  line-height: 45px;
  position: relative;
  top: -14px;
  font-weight: 700; }

@media screen and (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: 0 auto; } }
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
    margin: 0 auto; } }
@media screen and (max-width: 1200px) {
  .container {
    width: 653px;
    margin: 0 auto; }

  .buy-add-btn button.add-to-cart-btn {
    padding: 12px 0 12px 0; } }
@media screen and (max-width: 728px) {
  .container {
    width: 327px;
    margin: 0 auto; } }
@media screen and (min-width: 550px) {
  .wrapper {
    margin-left: 186px; }

  .sidebar-responsive {
    display: block; }

  .hidden-sm-up {
    display: none; }

  .visible-sm-down {
    display: none; } }
@media screen and (max-width: 550px) {
  .hidden-sm-down {
    display: none; }

  .visible-sm-down {
    display: block;
    margin-top: 70px; }

  .mrg-top70 {
    margin-top: 10px; }

  .sidebar-responsive {
    display: none; }

  h1 {
    text-align: center; }

  .wrapper {
    width: 100%;
    overflow: hidden; }

  .delete {
    margin-top: 6px; }

  .offer-title {
    margin-top: -3px; }

  .offer-description {
    margin-top: -7px; }

  .cart-item-count {
    color: #fff;
    padding: 1px 0 0px 0px;
    font-weight: 700; }

  .cart-sm {
    position: relative; }
    .cart-sm .cart-icon-holder {
      display: inline-block;
      position: absolute;
      right: 9px;
      top: -2px; }
    .cart-sm .info-icon {
      font-size: 12px;
      color: #bcc1ce;
      position: absolute;
      left: 9px;
      top: -2px;
      width: 18px;
      border: 2px solid #bcc1ce;
      border-radius: 50%;
      padding-top: 0px;
      padding-right: 1px;
      font-weight: 700;
      height: 18px; }
      .cart-sm .info-icon:hover {
        color: #1e1f20;
        border: 2px solid #1e1f20;
        text-decoration: none; }
      .cart-sm .info-icon:active {
        color: #1e1f20;
        border: 2px solid #1e1f20;
        text-decoration: none; }

  .sidebar-responsive {
    display: none;
    width: 0%;
    transition: all 0.3s ease-in-out;
    opacity: 0; }

  .sidebar-responsive.active {
    display: block;
    z-index: 999;
    height: 100vh;
    margin-top: 54px;
    width: 100%;
    opacity: 1; }

  .sidebar-responsive ul li {
    margin-bottom: 26px; }

  .sidebar-responsive .cart-inner-cnt {
    display: none; }

  .nav-sidebar {
    text-align: center; }

  .logo-holder {
    margin-top: 30px; }

  .header-content {
    margin-bottom: 0;
    border-bottom: none; }

  .fixed-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #ebeef4;
    margin-top: -70px;
    box-shadow: 0 0 5px #e4e5e6; }

  .order-summary li:nth-child(2) {
    width: 62%; }

  .mrg-top20 {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
