/*Font Family*/
/*Site Colors*/
/*Font-sizes*/
p {
  margin: 0; }

body {
  background: #ebeef4;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 15px;
  color: #202734;
  margin-bottom: 25px;
  font-weight: 700; }

h2 {
  font-weight: 600;
  font-size: 24px; }

h3 {
  font-size: 10px;
  color: #abb1c0;
  font-weight: 600;
  text-transform: uppercase; }

.center {
  text-align: center !important; }

:focus {
  outline: none; }

.header-content {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #d9e0ef; }
  .header-content .prev-page {
    position: absolute;
    top: -3px;
    left: 0;
    display: inline-block; }
  .header-content .close {
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block; }

#index-page header {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #ebeef4;
  z-index: 9999; }
#index-page .main {
  margin-top: 70px; }

.sidebar-responsive {
  width: 186px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  bottom: 0;
  padding: 31px 20px;
  background: #273140; }
  .sidebar-responsive .logo-holder {
    text-align: center; }
    .sidebar-responsive .logo-holder img {
      margin-bottom: 24px; }
    .sidebar-responsive .logo-holder p {
      font-size: 13px;
      color: #fff;
      line-height: 18px; }
  .sidebar-responsive ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 60px; }
    .sidebar-responsive ul li {
      margin-bottom: 46px; }
      .sidebar-responsive ul li a {
        color: #9da0a5; }
        .sidebar-responsive ul li a:hover, .sidebar-responsive ul li a:focus {
          color: #fff;
          background: none; }
        .sidebar-responsive ul li a.active {
          color: #fff;
          background: none; }
  .sidebar-responsive .cart-icon-holder {
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
    left: 0; }
    .sidebar-responsive .cart-icon-holder .cart-item-count {
      color: #fff;
      font-size: 12px; }

.cart-inner-cnt {
  position: relative;
  display: inline-block; }

.cart-item-count {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 2px 2px;
  background: #f85b37; }

.wrapper {
  width: calc(100% - 186px);
  position: relative;
  overflow: hidden; }

.offer-content-holder {
  min-height: 372px;
  height: 100%;
  padding: 11px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9e0ef; }
  .offer-content-holder img {
    width: 100%;
    margin-bottom: 20px; }

.offer-title {
  font-weight: 700;
  font-size: 15px;
  color: #202734;
  margin-bottom: 17px; }

.offer-description {
  font-size: 13px;
  color: #38475d;
  line-height: 18px;
  margin-bottom: 20px; }

.offer-detail {
  clear: both;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebeef4;
  margin-bottom: 14px; }
  .offer-detail button {
    background: none;
    border: none; }
    .offer-detail button .caret {
      color: #f85b37; }
  .offer-detail div {
    display: inline-block; }
  .offer-detail .dropdown a {
    font-size: 12px;
    color: #202734;
    padding: 10px 0; }
  .offer-detail .dropdown-menu {
    padding: 0 15px; }
    .offer-detail .dropdown-menu span {
      color: #1bb970;
      font-size: 18px;
      float: right;
      margin-top: -3px;
      font-weight: 600; }
    .offer-detail .dropdown-menu li a {
      border-bottom: 1px solid #e0e2e7; }

.offer-price {
  color: #1bb970;
  font-size: 18px;
  float: left;
  font-weight: 600; }

.offer-count {
  font-size: 10px;
  color: #abb1c0;
  font-weight: 600;
  float: right;
  margin-top: 8px; }

.buy-add-btn {
  clear: both;
  display: inline-block;
  width: 100%; }
  .buy-add-btn button.add-to-cart-btn {
    font-size: 12px;
    background: none;
    border: none;
    font-weight: 600;
    float: left;
    color: #abb1c0;
    padding: 12px 20px 12px 0; }
    .buy-add-btn button.add-to-cart-btn img {
      width: auto;
      margin: 0 8px 0 0; }
    .buy-add-btn button.add-to-cart-btn span {
      position: relative;
      top: 3px; }
  .buy-add-btn button.buy-btn {
    background: #f85b37;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: 700;
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 12px 20px;
    text-transform: uppercase; }
    .buy-add-btn button.buy-btn:hover {
      background: #e1350e; }

.cart-img {
  width: 50px;
  margin-right: 12px;
  float: left; }

.cart-item-holder {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background: #fff;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .cart-item-holder .cart-item-description {
    float: left;
    width: calc(100% - 62px); }
    .cart-item-holder .cart-item-description .offer-title {
      margin-bottom: 7px !important; }

.bdr {
  border: 1px solid #d9e0ef; }

.offer-price-detail {
  display: inline-block;
  width: 60px;
  float: left; }
  .offer-price-detail .offer-price,
  .offer-price-detail .offer-count {
    float: none;
    display: inline-block; }

.quantity-controls {
  margin-left: 40px;
  display: inline-block;
  margin-top: 1%; }
  .quantity-controls a {
    width: 20px;
    padding: 0 10px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #abb1c0;
    background: #ebeef4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .quantity-controls a:hover {
      text-decoration: none;
      color: #38475d; }
    .quantity-controls a:focus {
      text-decoration: none;
      color: #38475d; }
  .quantity-controls .total-quantity {
    padding: 0 18px;
    font-weight: 700; }

.cart-item-bottom {
  clear: both;
  display: inline-block;
  width: 100%; }

.delete {
  margin-top: 10px;
  float: right; }

.orange-btn {
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 17px 0;
  background: #f85b37;
  border: none;
  border-radius: 3px;
  transition: all 0.1s ease-in-out; }
  .orange-btn:hover {
    background: #e1350e; }

.cart-total-amount {
  margin: 20px 0 30px; }
  .cart-total-amount p {
    font-weight: 600; }
    .cart-total-amount p span {
      font-weight: 700; }

.nav li a:hover, .nav li a:focus {
  background: none; }

.nav-sidebar li {
  position: relative; }
  .nav-sidebar li::after {
    content: " ";
    position: absolute;
    bottom: -59%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #323c4a; }

.success-msg-holder {
  display: inline-flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .success-msg-holder .success-msg-inner {
    max-width: 394px;
    max-height: 397px;
    height: 100%;
    margin: 0;
    width: 100%; }
    .success-msg-holder .success-msg-inner h2 {
      color: #1bb970; }
    .success-msg-holder .success-msg-inner p {
      color: #38475d;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 100px; }

button.shopping-btn {
  font-size: 12px;
  color: #273140;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #fff;
  padding: 15px 86px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px #dbdee4; }

.box-info h3 {
  clear: both;
  display: inline-block;
  width: 100%;
  padding-left: 12px; }
  .box-info h3 span {
    color: #1bb970;
    text-transform: none;
    font-weight: 600;
    float: right; }
    .box-info h3 span.lock-icon {
      position: relative;
      margin-right: 37px; }
      .box-info h3 span.lock-icon:after {
        content: " ";
        position: absolute;
        width: 12px;
        height: 14px;
        right: -20px;
        top: -2px;
        background: url(../img/lock.png);
        background-size: 100%;
        background-repeat: no-repeat; }

.white-box {
  border: 1px solid #d9e0ef;
  border-radius: 7px;
  background: #fff;
  padding: 14px 11px; }
  .white-box .form-group:last-child {
    margin-bottom: 0; }

.mrg-top20 {
  margin-top: 25px; }

.form-group label {
  color: #202734;
  font-size: 11px;
  font-weight: 700;
  padding-left: 12px; }
.form-group input {
  min-height: 34px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d9e0ef;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 14px; }
.form-group .form-control:focus {
  border-color: none;
  box-shadow: none; }

.order-summary {
  padding: 0;
  margin: 0;
  padding: 15px 11px;
  list-style: none;
  vertical-align: middle;
  width: calc(100% + 22px);
  margin-left: -11px; }
  .order-summary:nth-child(even) {
    background-color: #f8fafa; }
  .order-summary li {
    display: inline-block;
    vertical-align: middle; }
    .order-summary li img {
      width: 33px;
      margin-right: 10px; }
    .order-summary li:nth-child(2) {
      width: 77%; }

.no-bdr {
  border: none !important; }

.order-title {
  font-size: 13px;
  font-weight: 700;
  color: #202734; }

.order-quantity {
  color: #abb1c0;
  font-size: 10px;
  margin-top: 2px; }

.order-price {
  color: #1bb970;
  font-weight: 600;
  font-size: 14px; }

.total-order-sum {
  font-size: 13px;
  padding: 13px 0 0;
  color: #202734;
  font-weight: 700;
  line-height: 20px; }
  .total-order-sum span {
    float: right;
    padding-right: 6px; }

.white-bg {
  background: #fff; }
  .white-bg .offer-content-holder {
    border: none; }
  .white-bg .offer-description {
    margin-bottom: 19%; }
  .white-bg .header-content {
    margin-bottom: 0;
    border: none; }

.thumb-description {
  padding: 0 8px; }

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto; } }
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto; } }
@media screen and (min-width: 550px) {
  .wrapper {
    margin-left: 186px; }

  .sidebar-responsive {
    display: block; }

  .hidden-sm-up {
    display: none; }

  .visible-sm-down {
    display: none; } }
@media screen and (max-width: 550px) {
  .hidden-sm-down {
    display: none; }

  .visible-sm-down {
    display: block;
    margin-top: 70px; }

  .mrg-top70 {
    margin-top: 10px; }

  .sidebar-responsive {
    display: none; }

  h1 {
    text-align: center; }

  .wrapper {
    width: 100%;
    overflow: hidden; }

  .delete {
    margin-top: 6px; }

  .offer-title {
    margin-top: -3px; }

  .offer-description {
    margin-top: -7px; }

  .cart-item-count {
    color: #fff;
    padding: 1px 0 0px 0px;
    font-weight: 700; }

  .cart-sm {
    position: relative; }
    .cart-sm .cart-icon-holder {
      display: inline-block;
      position: absolute;
      right: 9px;
      top: -2px; }
    .cart-sm .info-icon {
      font-size: 12px;
      color: #bcc1ce;
      position: absolute;
      left: 9px;
      top: -2px;
      width: 18px;
      border: 2px solid #bcc1ce;
      border-radius: 50%;
      padding-top: 0px;
      padding-right: 1px;
      font-weight: 700;
      height: 18px; }
      .cart-sm .info-icon:hover {
        color: #1e1f20;
        border: 2px solid #1e1f20;
        text-decoration: none; }
      .cart-sm .info-icon:active {
        color: #1e1f20;
        border: 2px solid #1e1f20;
        text-decoration: none; }

  .sidebar-responsive {
    display: none;
    width: 0%;
    transition: all 0.3s ease-in-out;
    opacity: 0; }

  .sidebar-responsive.active {
    display: block;
    z-index: 999;
    height: 100vh;
    margin-top: 54px;
    width: 100%;
    opacity: 1; }

  .sidebar-responsive ul li {
    margin-bottom: 26px; }

  .sidebar-responsive .cart-inner-cnt {
    display: none; }

  .nav-sidebar {
    text-align: center; }

  .logo-holder {
    margin-top: 30px; }

  .header-content {
    margin-bottom: 0;
    border-bottom: none; }

  .fixed-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #ebeef4;
    margin-top: -70px;
    box-shadow: 0 0 5px #e4e5e6; }

  .order-summary li:nth-child(2) {
    width: 62%; }

  .mrg-top20 {
    margin-bottom: 20px; } }

  .modal-content {
    background: transparent;
    box-shadow: none;
        border: none;
  }
/*# sourceMappingURL=style.css.map */
