body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ebeef4;
}
header {
	background-color: #273140;
	margin-bottom: 42px;	
}
header h1 {
	text-align: center;
	margin: 0;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	padding: 13px 0;
}
header h1 img {
	margin-right: 8px;
}
h2 {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	color: #202734;
	margin-bottom: 26px;
}
h3 {
	font-size: 14px;
	font-weight: 700;
	color: #202734;
	margin: 0;
}
label {
	text-transform: capitalize;
}
.center {
	text-align: center;
}
#index .container,
#sign-in .container {
	max-width: 389px;
	width: 100%;
	margin-left: 0 auto;
}
.custom-form {
	background: #fff;
	padding: 33px;
	border: 1px solid #caced9;
	border-radius: 7px;
}
label,
.custom-label {
	font-size: 13px;
	color: rgba(51, 51, 51, 0.5);;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.custom-form .form-control {
	border: 1px solid #caced9;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #333333;
	font-size: 13px;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
	color: #333333;
	font-size: 13px;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
	color: #333333;
	font-size: 13px;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color: #333333;
	font-size: 13px;
}
.form-control {
	padding: 13px 18px;
	line-height: auto;
	height: auto;
}
 .custom-checkbox > [type="checkbox"],
    .custom-checkbox > label{
        margin-bottom:0px !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 0;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked),
    .custom-checkbox > [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label,
    .custom-checkbox > [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 22px;
        cursor: pointer;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; 
        top: 50%;
        margin-top:-9px;
        width: 17px; 
        height: 17px;
        border: 1px solid #ddd;
        background: #ffffff;
        border-radius: 2px;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        font: normal normal normal 12px/1 'Glyphicons Halflings';
        content: '\e013';
        position: absolute;
        top: 50%;
        margin-top:-7px;
        left: 2px;
        color: #94C947;
        xtransition: all .2s;
    }

    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
        content: '\2212';
        left: 2px;
        opacity: 1;
        transform: scale(1);
    }

    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        background-color: #eeeeee;
        border-color: #eeeeee;
        cursor: not-allowed;
        opacity: 1;
        color: #dadada;
    }
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
      color: #dadada; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:disabled + label {
      color: #aaa; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:checked:focus + label:before,
    .custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
        border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .custom-checkbox > label:hover:before {
        border: 1px solid #88D2FF !important;
    }
    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
        border: 1px solid #E4E4E4 !important;
    }
input[type="submit"] {
	background-color: #f85b37;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	transition: all 0.3s ease;
}
input[type="submit"]:hover {
	background-color: #dc340e;
}
p.agreement-txt a {
	color: #abb1c0;
	text-decoration: underline;
}
p.agreement-txt {
	color: #abb1c0;
	font-size: 11px;
	margin-top: 15px;
	text-align: center;
}
p.footer-txt a {
	color: #38475d;
	text-decoration: underline;
}
p.footer-txt {
	color: #38475d;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	font-weight: 600;
	margin-bottom: 20px;
}

/*packages*/
#packages header {
	margin-bottom: 0;
}
#packages header {
	clear: both;
	display: inline-block;
	width: 100%;
	padding: 0 20px;
}
#packages header h1 {
	display: inline-block;
	float: left;
}
.acc-dropdownmenu,
#packages header h1 {
	display: inline;
}
#packages header .acc-dropdown {
	display: inline-block;
	float: right;
	margin-top: 10px;
}
.filter-section {
	background: #fff;
	margin-top: -3px;
	margin-bottom: 40px;
}
.dropdown.acc-dropdownmenu button {
	color: #abb1c0;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	padding: 0 12px;
	background: transparent;
	width: auto;
	line-height: 20px;
	border: none;
}
.package-filter button {
	color: #2d2f41;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 700;
	padding: 20px 0;
	background: transparent;
	line-height: 20px;
	border: none;
}
.package-filter .caret {
	margin-top: 10px !important;
	margin-left: 9px;
}
.acc-dropdownmenu .dropdown-menu {
	left: -83px;
	top: 50px;
	padding: 15px;
}
.package-filter .dropdown-menu {
	padding: 15px;
	left: 112px;
}
.acc-dropdownmenu .dropdown-menu a,
.acc-dropdownmenu .dropdown-menu a.active ,
.package-filter .dropdown-menu a,
.package-filter .dropdown-menu a.active {
	font-size: 12px;
	line-height: 18px;
}
.acc-dropdownmenu .dropdown-menu a,
.package-filter .dropdown-menu a {
	color: #38475d;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #e0e2e7;
}
.acc-dropdownmenu .dropdown-menu a:first-child,
.package-filter .dropdown-menu a:first-child {
	padding-top: 0;
}
.acc-dropdownmenu .dropdown-menu a:last-child,
.package-filter .dropdown-menu a:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.acc-dropdownmenu .dropdown-menu a.active,
.acc-dropdownmenu .dropdown-menu a:hover,
.acc-dropdownmenu .dropdown-menu a:focus,
.package-filter .dropdown-menu a.active,
.package-filter .dropdown-menu a:hover,
.package-filter .dropdown-menu a:focus {
	color: #326af3;
	font-weight: 700;
}

/*package-filter*/
.package-filter .dropdown-menu a {
	display: inherit;
}

/*GRID*/

.grid-item {
	margin-right: 5px;
	margin-bottom: 5px;
}
.grid-item:nth-child(4) {
	margin-right: 0;
}
.grid-item { 
	width: 24%; 
}
.grid-item--width2 { 
	width: 50%; 
}
.package-info {
	padding: 0 9px;
}
#filtered-grid {
	margin-top: 40px;
}
#filtered-grid .grid-inner {
	padding: 10px; 
	border: 1px solid #d9e0ef;
	background: #fff;
	text-align: left;
	border-radius: 7px;
}
#filtered-grid .grid-inner img {
	width: 100%;
}
#filtered-grid .package-info h2 {
	text-align: left;
	margin-top: 16px;
	margin-bottom: 0;
	max-height: 16px;
	overflow: hidden;
}
..package-description > p {
	color: #38475d;
}
.package-description {
	margin: 17px 0 28px;
	    max-height: 39px;
    min-height: 39px;
    overflow: hidden;	
	border-bottom: 1px solid #ebeef4;
}
.package-detail {
	display: inline-block;
	width: 100%;
	clear: both;
}
.package-detail>div,
.package-detail p,
.package-detail i {
	display: inline-block;
}
.price {
	float: left;
}
.price p {
	color: #1bb970;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}
.package-type {
	color: #38475d;
	font-size: 9px;
	font-weight: 700;
	padding: 7px 9px;
	margin-right: 15px;
	background: #ebeef4;
}
.right {
	float: right;
}
.right>div {
	display: inline;
}
.package-type p {
	margin-bottom: 0;
}

/*DropDown Css*/
.price-dropdown button {
	background: none;
	color: #1bb970;
	font-size: 18px;
	font-weight: 600;
	border: none;
}
.setting-ico {
	color: #abb1c0;
	font-size: 14px;
}
.setting-ico button {
	background: none;
	border: none;
}
.setting-ico .dropdown-menu,
.price-dropdown .dropdown-menu {
	padding: 0 15px;
}
.price-dropdown .dropdown-menu  {
	left: 100%;
}
.setting-ico .dropdown-menu {
	left: -140px;
	top: 27px;
}
.setting-ico .dropdown-menu a,
.price-dropdown .dropdown-menu a {
	color: #38475d;
	font-size: 12px;
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #e0e2e7;
}
.price-dropdown button span.caret {
	color: #f85b37;
}
.setting-ico .dropdown-menu a:hover,
.price-dropdown .dropdown-menu a:hover {
	text-decoration: none;
}
.setting-ico .dropdown-menu a:last-child,
.price-dropdown .dropdown-menu a:last-child {
	border-bottom: none;
}
.price-dropdown .dropdown-menu span {
	float: right;
	text-align: right;
	color: #1bb970;
	font-size: 18px;
	font-weight: 600;
	margin-top: -4px;
}

/*detail Page*/
#map {
	width: 100%;
	height: 300px;
	background: url(assets/img/map.png);
	background-repeat: no-repeat;
	background-size: cover; 
}
.package-tab {
	margin-top: -5px;
	padding: 20px 0 0px;
	background: #fff;
	position: relative;
}
.package-tab h2 {
	font-size: 13px;
	text-transform: uppercase;
	line-height: 20px;
	margin: 0;
	text-align: left;
}
.nav-tabs {
	border: none;
	display: inline-block;
}
.nav-tabs>li>a {
	padding: 0 18px;
	color: #abb1c0;
	font-weight: 600;
	font-size: 13px;
	border: none;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
	background: transparent;
	border: none;
} 
.nav-tabs li {
	position: relative;
}
.nav-tabs li.active {
	font-size: 13px;
	color: #273140;
	font-weight: 600;
}
.nav-tabs li.active::after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	border-bottom: 2px solid #326af3;
	bottom: -18px;
}
button.btn-save {
	color: #fff;
	padding: 11px 32px;
	background: #fd6816;
	border: none;
	font-weight: 700;
	border-radius: 3px;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	font-size: 10px;
	transition: all 0.3s ease-in-out;
}
button.del-btn {
	color: #abb1c0;
	padding: 11px 32px;
	background: transparent;
	border: none;
	font-weight: 700;
	text-decoration: underline;
	border-radius: 3px;
	font-size: 10px;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	transition: all 0.3s ease-in-out;
}
.tab-inner {
	background: #fff;
	display: inline-block !important;
	margin-top: 24px;
	width: 100%;
	border: 1px solid #d9e0ef;
	border-radius: 6px;
}
.tab-inner:last-child {
	margin-bottom: 47px;
}
button.btn-save:hover {
	background: #fd6816;
}
.tab-content h3 {
	padding: 24px 20px 24px 53px;
	border-bottom: 1px solid #d9e0ef;
}
.icon {
	position: relative;
}
.icon_overview:after,
.icon_availability:after,
.icon_price:after,
.icon_basic_details:after,
.icon_password:after,
.icon_map:after,
.icon_policy:after,
.icon_supplier:after {
	content: " ";
	position: absolute;
	background-repeat: no-repeat;
	background-position: top left;
	left: 20px;
	width: 33px;
	background-size: 60%;
	height: 30px;
}
.icon_overview:after {
	background-image: url(assets/img/vector-smart-object.png);
}
.icon_price:after {
	background-image: url(assets/img/price.png);
}
.icon_availability:after {
	background-image: url(assets/img/discount.png);
}
.icon_basic_details:after {
	background-image: url(assets/img/icon_basic_details.png);
}
.icon_password:after {
	background-image: url(assets/img/icon_password.png);	
}
.icon_map:after {
	background-image: url(assets/img/icon_map.png);		
}
.icon_policy:after {
	background-image: url(assets/img/policy.png);			
}
.icon_supplier:after {
	background-image: url(assets/img/supli.jpg);		
}
.tab-detail {
	display: inline-block;
	padding: 40px 57px;
	width: 100%;
}
label {
	display: block;
	margin-bottom: 10px;
	margin-top: 15px;
}
.edit-package .dropdown-menu {
	width: 100%;
}
.tab-pane input[type="text"],
.tab-pane textarea,
button.dropdown-toggle,
input,
textarea {
	width: 100%;
	background: transparent;
	border: 1px solid #caced9;
	padding: 16px;
	border-radius: 3px;
}
.package-detail button.dropdown-toggle {
	width: auto; 
	background: transparent; 
	border: none; 
	padding: 0; 
	border-radius: 0;
} 
.package-filter button.dropdown-toggle {
	border: none;
	width: auto;
}
.mrg-top-15 {
	margin-top: 15px;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}
button.dropdown-toggle {
	text-align: left;
}
button.dropdown-toggle .caret {
	float: right;
	margin-top: 7px;
}
.open>.dropdown-menu {
	padding: 10px 20px;
}
.open>.dropdown-menu a {
	display: block;
	width: 100%;
	padding: 10px 0;
}
.tab-pane input[type="text"]::-webkit-input-placeholder,
.tab-pane textarea::-webkit-input-placeholder {
	color: #333333;
}
.tab-pane input[type="text"]::-moz-placeholder,
.tab-pane textarea::-moz-placeholder {
	color: #333333;
}
.tab-pane input[type="text"]:-moz-placeholder,
.tab-pane textarea:-moz-placeholder {
	color: #333333;
}
.tab-pane input[type="text"]:-ms-input-placeholder,
.tab-pane textarea:-ms-input-placeholder {
	color: #333333;
}
.to-block-after {
	position: relative;
}
.to-block-after:after {
	content: " ";
	position: absolute;
	width: 15px;
	height: 1px;
	border-bottom: 1px solid #000;
	right: -7px;
	top: 72px;
}

/*file-input*/
.edit-package .file-input {
	    position: relative;
    height: 264px;
}
.file-preview {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: auto;
    margin-bottom: 5px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.kv-fileinput-caption {
    border: none;
    box-shadow: none;
    width: 27% !important;
    background: transparent;
}
.form-control:focus {
	border-color: transparent;
	box-shadow: none;
}
.btn-file {
	padding: 12px 16px;
	background: #ebeef4;
	border: 1px solid #caced9;
	color: #000;
}
a.file-input-wrapper.btn.btn-default.input-custom-style span {
	color: #000;
	font-weight: 600;
	font-size: 10px;
}
.input-custom-style {
	color: #333;
	background-color: #fff;
	background: #ebeef4;
	border: 1px solid #caced9;
}
.del-options {
	position: absolute;
	bottom: -79px;
	background: #fdd6cd;
	width: 100%;
	left: 0;
	padding: 24px 62px;
	z-index: 999;
	box-shadow: 0px 0px 5px #ccc;
}
.del-options p {
	color: #202734;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
}
.del-options  a {
	color: #f85b37;
	text-decoration: underline;
	margin: 0 10px;
}
.del-options .fa-caret-up {
	position: absolute;
	top: -18px;
	right: 21%;
	font-size: 24px;
	color: #fdd6cd;
	z-index: 9999;
}
.del-options {
	display: none;
}
.package-filter a.add-more {
	width: 52px;
	height: 52px;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: -25px;
}
.package-filter a.add-more:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 52px;
	width: 52px;
	background: url(assets/img/button_add.png);
	background-repeat: no-repeat;
	background-size: contain;
	top: 0;
	left: 0;
}

.packimg-container {
	overflow: hidden;
}

.file-caption-main {
	height: 51px;
	width: 100%;
	position: relative;
}
.file-caption-main .kv-fileinput-caption {
	position: relative;
}
.file-caption-main .kv-fileinput-caption {
	position: absolute;
	top: 0;
	left: 97px;
}
.file-caption-main .input-group-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 131px;	
}
.file-caption-main .input-group-btn .btn {
	border-radius: 3px;
	font-weight: 700;
	font-size: 10px;
}
.btn-file input[title] {
		font-size: 10px;
	font-weight: 700;
	color: #000;
}
.btn-file input[type=file] {
	font-size: 10px;
	font-weight: 700;
	color: #000;
	padding: 12px 16px;
	border-radius: 5px;
}

    .custom-checkbox > [type="checkbox"],
    .custom-checkbox > label{
        margin-bottom:0px !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 0;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked),
    .custom-checkbox > [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label,
    .custom-checkbox > [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 22px;
        cursor: pointer;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; 
        top: 50%;
        margin-top:-9px;
        width: 17px; 
        height: 17px;
        border: 1px solid #ddd;
        background: #ffffff;
        border-radius: 2px;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        font: normal normal normal 12px/1 'Glyphicons Halflings';
        content: '\e013';
        position: absolute;
        top: 50%;
        margin-top:-7px;
        left: 2px;
        color: #94C947;
        xtransition: all .2s;
    }

    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
        content: '\2212';
        left: 2px;
        opacity: 1;
        transform: scale(1);
    }

    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        background-color: #eeeeee;
        border-color: #eeeeee;
        cursor: not-allowed;
        opacity: 1;
        color: #dadada;
    }
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
      color: #dadada; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:disabled + label {
      color: #aaa; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:checked:focus + label:before,
    .custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
        border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .custom-checkbox > label:hover:before {
        border: 1px solid #88D2FF !important;
    }
    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
        border: 1px solid #E4E4E4 !important;
    }

a.save-close-btn {
	    border-radius: 3px;
    background-color: #03ba50;
    padding: 13px 12px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    float: right;
    letter-spacing: 0.1px;
}
a.save-close-btn:hover,
a.save-close-btn:focus {
	color: #fff;
	text-decoration: none;
}
h2.form-title {
    margin-top: 32px;
    padding-left: 73px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #202734;
}
    /*radio*/

    .radio{
  color:#000;
  font-size:15px;
  position:relative;
}
.custom-checkbox p span {
    color: #a5adb8;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:1px solid;
  position:absolute;
  left:0;
      color: #dce2f0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
/*.radio input[type="radio"]:checked + span{
  color:#0B8;  
}*/
.radio input[type="radio"]:checked + span:before{
    content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#0B8;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

.all-packages .del-options {
	position: static;
	display: block;
}

.all-packages .filter-section {
	margin-bottom: 0;
}
.label-btn label {
	display: inline-block;
}
.btn-adddis {
    border-radius: 3px;
    background-color: #03ba50;
    padding: 13px 12px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.8;
    float: right;
    letter-spacing: 0.1px;
}
.add-discountpop {
    position: relative;
    display: inline-block;
    float: right;
}
.discount-popup {
    position: absolute;
    right: 0;
    width: 201px;
    height: 232px;
    background-color: #ffffff;
    box-shadow: 0px 1px 9px 1px rgba(54, 70, 92, 0.3);
    padding: 28px 27px;
    z-index: 1;
    top: 120%;
    display: none;
}
.btn-adddis:hover,
.btn-adddis:focus {
	color: #fff;
}
.adddis-btn-in {
    background-color: #f3f5f8;
    width: 100%;
    transition: all 0.3s ease-in-out;
        margin-top: 12px;
}

.discount-popup label {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.1px;
  margin: 0;
  color: rgba(51, 51, 51, 0.5);
}
.discount-popup select span {
	float: right;
}
.discount-table {
	width: 100%;
}
.discount-table tr:nth-child(odd) {
	background: #f3f5f8;
}
.discount-table tr td,
.discount-table tr th {
	padding: 15px 17px;
}
.discount-table th {
	  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #333333;
}
.discount-table th:last-child {
	text-align: right;
}
.discount-table tr td:nth-child(3)  {
	text-align: right;
}
.btn-remove {
	margin-right: 10px;
}
.btn-remove,
.btn-edit {
 	opacity: 0.5;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: rgba(51, 51, 51, 0.5);
  transition: all 0.3s ease-in-out;
}
.btn-remove:hover,
.btn-edit:hover {
	text-decoration: none;
opacity: 1;
}
.discount-percent {
	font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.1px;
  color: #fd6816;
}
.mrg-top20 {
	margin-top: 27px;
}
.table-btm-border {
	padding-bottom: 46px;
	border-bottom: 1px solid #d4d7de;

}
.discount-popup input,
.discount-popup select {
    padding: 8px 12px !important;
    background-color: #f9fbfd !important;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.1px;
    color: #333333;
    border: solid 1px #d4d7de !important;
}
.adddis-btn-in:hover {
	background: #fd6816;
	color: #fff;
}
/*RESPONSIVE*/

@media screen and (min-width: 1200px) {
	.container {
		width: 1269px;
	}
	.packimg-container {
		max-height: 223px;
		min-height: 223px;
	}
}
@media screen and (min-width: 1400px) {
	.container {
		width: 80%;
	}
}
@media screen and (max-width: 1400px) {
	.packimg-container {
    max-height: 180px;
    min-height: 180px;
}
}
@media screen and (max-width: 1270px) {
	.packimg-container {
    max-height: 174px;
    min-height: 174px;
}
}
@media screen and (max-width: 880px) {
	.grid-item { 
		width: 45%; 
	}
	.packimg-container {
		max-height: 198px;
		min-height: 198px;
	}
}
@media screen and (max-width: 880px) {
	.packimg-container {
		max-height: 198px;
		min-height: 198px;
	}
	}
@media screen and (max-width: 567px) {
	.tab-detail {
		padding: 20px 0;
	}
	.edit-package .file-input {
		position: relative;
		height: auto;
	}
	.file-preview {
		position: static;
	}
	.file-caption-main .input-group-btn .btn {
		position: relative;
	}
	.kv-fileinput-caption {
		width: 80% !important;
	}
	.file-caption-main .input-group-btn .btn .hidden-xs {
		display: block !important;
	}
	.file-caption-main .kv-fileinput-caption {
		position: relative;
	}
	.to-block-after:after {
		display: none;
	}
	.add-package button.btn-save {
		top: -77px;
		left: 78%;
	}
	#add-pkg .btn-position {
top: -77px;
    left: 58%;
    position: relative;
	}
			#add-pkg .btn-position button.del-btn  {
top: 0;
    position: relative;
	}
		#add-pkg .btn-position button.btn-save  {
top: 0;
    left: -25px;
    position: relative;
	}
	.edit-package button.btn-save, .edit-package button.del-btn {
		top: -80px;
		right: -188px;
	}
	.custom-mar {
		margin-top: 30px;
	}
	.tab-contents {
		padding: 0 5px;
	}
	.del-options .fa-caret-up {
		right: 37%;
	}
	.grid-item { 
		width: 100%; 
	}
	.packimg-container {
		max-height: 320px;
		min-height: 320px;
	}
}
@media screen and (max-width: 480px) { 
	.packimg-container {
		max-height: 194px;
		min-height: 194px;
	}
}
@media screen and (max-width: 320px) {
	.add-package button.btn-save {
		top: -77px;
		left: 71%;
	}
	.edit-package button.btn-save, .edit-package button.del-btn {
		top: -80px;
		right: -106px;
	}
	.del-options .fa-caret-up {
		right: 45%;
	}
	.packimg-container {
		max-height: 175px;
		min-height: 175px;
	}
}
